body {
  background-color: crimson;
}

h3 {
  text-align: center;
  font-family: 'Diplomata SC', cursive;
  font-size: 40px;
}

#title {
  height: 45px;
}

h5 {
  text-align: center;
  padding: 10px;
  font-family: times;
}

#header {
  height: 30px;
  border: solid red 2px;
  background-color: yellow;
}

#home {
  text-align: right;
}

.inactive {
  visibility: hidden;
}

.active {
  visibility: visible;
}

img {
  height: 200px;
  width: 100px;
  border: yellow solid 2px;
}
